data/full-datasets/*
data/datasets/*
data/dat-files/*
data/mapping-files/*
data/folds/*

active_learning/*.pdf
active_learning/samples/*
active_learning/*.png
active_learning/*.svg

active_normalization/*.pdf
active_normalization/samples/*
active_normalization/*.png
active_normalization/*.svg

sampling_experiment/output_plots/*/*.pdf
sampling_experiment/samples/*
sampling_experiment/output_plots/*/*.png
sampling_experiment/output_plots/*/*.svg

results/*

sampling_experiment/output_plots/ratio_1\:1/*.pdf
sampling_experiment/output_plots/ratio_1\:10/*.png

target/*

src/test/resources/adult.dat
src/test/resources/toms.dat
src/test/resources/bank.dat
src/test/resources/dota.dat
src/test/resources/credit.dat
src/test/resources/mushroom.dat
src/test/resources/connect.dat